<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FileTransfer.Properties.Settings.TEST_CRM_3_10_1ConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TEST_CRM_3_10_1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>